body {
    background-color: #d3dad546;
}
 
/* The container controls the size of 
the box that contains the squares */
#container {
    width: 50%;
    margin: 0 auto;
}

.square {
    width: 30%;
    background: rgb(0, 0, 0);
    /* Square doesn't show up on 
    page so padding added */
    padding-bottom: 40%;
    float: left;
    margin: 1.66%;
 
}
 
h1 {
    color: rgb(65, 63, 63);
}
 
span {
    color: rgb(119, 196, 183);
}
